{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load branch_buttons %}
{% load mapping_utils %}

{% block extra_controls %}
{% endblock %}

{% block content %}
  <div class="row">
	  <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Service Mapping Type" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Last activity" %}</th>
            <td>
              {{ latest_change.time|isodatetime|placeholder }}
              {% if latest_change %}
                <div class="small text-muted">{{ latest_change.time|timesince }} {% trans "ago" %}</div>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/comments.html' %}
      <div class="card">
        <h5 class="card-header">{% trans "Event History" %}</h5>
        <div class="list-group list-group-flush">
          {% for event in object.get_event_history %}
            <div class="list-group-item">
              <div class="row align-items-center">
                {% if event.pk %}
                  {# Event object #}
                  <div class="col-3 text-end">
                    {% badge event.get_type_display bg_color=event.get_type_color %}
                  </div>
                  <div class="col text-truncate">
                    <span>{{ event.get_type_display }}{% if event.user %} by <strong>{{ event.user }}</strong>{% endif %}</span>
                    <small class="d-block text-muted">{{ event.time|isodatetime }}</small>
                  </div>
                {% else %}
                  {# Change summary #}
                  <div class="col offset-3 text-truncate">
                    <a href="{% url 'plugins:netbox_branching:branch_changes-ahead' pk=object.pk %}?time_after={{ event.start.isoformat }}&time_before={{ event.end.isoformat }}" class="text-muted">
                      {{ event.count }} {% trans "changes" %}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <div class="list-group-item text-muted">{% trans "None" %}</div>
          {% endfor %}
        </div>
      </div>
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
    {% comment %}
      {% plugin_full_width_page object %}

        <p>{{ object.schema }}</p>
    {% endcomment %}

        <h3>Schema</h3>
        <ul>
            {% for field in object.fields.all %}
                <li>
                    {{ field.label }}:
                    {% if field.field_type == 'object' %}
                        <b>{{ field|get_field_object_type }}</b>
                        {% if field.many %}
                            (Many)
                        {% endif %}
                    {% else %}
                        {{ field.field_type }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
