{% extends 'generic/object.html' %}
{% load static %}
{% load custom_object_buttons %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load custom_object_utils %}

{% block extra_controls %}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
{#    <a href="{% url object|viewname:'list' %}">{{ object|meta:'verbose_name_plural'|bettertitle }}</a>#}
  </li>
{% endblock breadcrumbs %}

{# Add/edit/delete/etc. buttons #}
{% block control-buttons %}

  {# Default buttons #}
  {% if perms.extras.add_bookmark and object.bookmarks %}
    {% custom_object_bookmark_button object %}
  {% endif %}
  {% if perms.extras.add_subscription and object.subscriptions %}
{#    {% subscribe_button object %}#}
  {% endif %}
  {% if request.user|can_add:object %}
{#        {% clone_button object %}#}
  {% endif %}
  {% if request.user|can_change:object %}
    {% custom_object_edit_button object %}
  {% endif %}
  {% if request.user|can_delete:object %}
{#    {% delete_button object %}#}
  {% endif %}
{% endblock control-buttons %}

{% block content %}
  <div class="row">
	  <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Custom Objects" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>
                {{ object.custom_object_type|linkify:"name" }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Last activity" %}</th>
            <td>
              {{ latest_change.time|isodatetime|placeholder }}
              {% if latest_change %}
                <div class="small text-muted">{{ latest_change.time|timesince }} {% trans "ago" %}</div>
              {% endif %}
            </td>
          </tr>
          {% for field in object.custom_object_type.fields.all %}
            {% if field.is_single_value %}
              <tr>
                <th scope="row">{{ field }}</th>
                <td>
                  {% if field.type == 'object' %}
                    {% with field_values=object|get_child_relations:field %}
                      {{ field_values.first|linkify }}
                    {% endwith %}
                  {% else %}
                    {{ object|get_field_value:field }}
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
      {% for field in object.custom_object_type.fields.all %}
          {% if field.many %}
            {% with field_values=object|get_child_relations:field %}
              <div class="card">
                <h2 class="card-header">{{ field }}</h2>
                <table class="table table-hover attr-table">
                  {% for relation in field_values.all %}
                    <tr>
                        <th scope="row">{{ relation|linkify }}</th>
                        <td>{{ relation.id }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            {% endwith %}
          {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
